# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [49]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

**Цель проекта:**

исследовать критерии оценки заёмщиков для кредитного отдела банка.

---

*Дополнительная предобработка данных.*

Прежде чем перейти к содержательной части исследования, внесём ещё 2 корректировки в датафрейм. Основания корректировок: обнаруженные в ходе исследования ошибки данных.

1. Проверим графу фрейма **dob_years** на наличие значений менее 18. Вряд ли банк имеет дело с несовершеннолетними заёмщиками.

In [22]:
data.loc[data['dob_years'] < 18, ['dob_years']].count()

dob_years    100
dtype: int64

In [23]:
data.loc[data['dob_years'] == 0, ['dob_years']].count()

dob_years    100
dtype: int64

100 строк фрейма не просто имеют в графе **dob_years** значение менее 18, но значение, равное 0.
Такие данные отнесём к полностью случайным ошибкам. Исправить их не видится возможным: подстановка каких-либо средних, медианных или иных значений некорректна. Удаление не должно повлиять на результаты исследования: строки занимают лишь 100 / 21331 = 0.47 % объёма фрейма.

In [24]:
data = data.loc[data['dob_years'] >= 18]

2. Проверим графу фрейма **gender*** на наличие артефактов.

In [25]:
data['gender'].value_counts()

F      14021
M       7209
XNA        1
Name: gender, dtype: int64

Удалим обнаруженное 1 некорректное значение.

In [26]:
data = data.loc[data['gender'] != 'XNA']

---

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

Переформулируем вопрос:
может ли банк идентифицировать потенциального неплательщика по кредиту, располагая только информацией о количестве детей у заёмщика?

Повторно обозреем данные о количестве детей заёмщиков:

In [27]:
data['children'].value_counts(normalize=True)

0    0.660433
1    0.225718
2    0.096043
3    0.015450
4    0.001931
5    0.000424
Name: children, dtype: float64

Как видно, у б*о*льшей части заёмщиков либо нет детей, либо 1 ребёнок.

Сформируем таблицу, из которой было бы видно, отличаются ли значения показателей заёмщиков **days_employed**, **dob_years**, **total_income** в зависимости от того, сколько у них детей. Будем использовать медианные значения. Использование арифметических средних выдаёт схожие результаты.

In [28]:
#ввели вспомогательные переменные:
c_d = data.groupby('children')['days_employed'].median()
c_dob = data.groupby('children')['dob_years'].median()
c_tot = data.groupby('children')['total_income'].median()

In [29]:
children = pd.DataFrame({ 'days_employed': c_d, 'dob_years': c_dob, 'total_income': c_tot })
children

          days_employed  dob_years  total_income
children
0           2455.222335         48        142594
1           1572.328285         38        145438
2           1572.328285         35        142594
3           1572.328285         36        146100
4           1877.349159         35        150447
5           1572.328285         36        168460

Как видно, у заёмщиков с разным количеством детей сходные значения показателей. Исключение составляют бездетные заёмщики: у них выше медианный возраст и трудовой стаж, что объяснимо: больше возраст = дольше трудился.

Молодые и возрастные заёмщики с одинаковым количеством детей могут принципиально отличаться друг от друга по иным своим качествам: девушка 18 лет без детей может иметь иные финансовые возможности нежели бездетный мужчина 45 лет.

Для удобства рассмотрения заёмщиков разных возрастов поделим их на категории.

In [30]:
#создали функцию для разбиения заёмщиков на категории по возрасту; категории -- в соответствии с методикой ВОЗ:
#медианное значение возраста заёмщиков (48 лет) попадёт в категорию "средний возраст"
def categorize_age(age):
    try:
        if 0 <= age < 18:
            return 'дети'
        elif 18 <= age <= 44:
            return 'молодые'
        elif 45 <= age <= 59:
            return 'средний возраст'
        elif 60 <= age <= 74:
            return 'пожилой возраст'
        elif age >= 75:
            return 'долгожители'
    except:
        pass

#добавили во фрейм столбец и для наглядности вывели количество заёмщиков по категориям:    
data['age_category'] = data['dob_years'].apply(categorize_age)
data['age_category'].value_counts()

молодые            11633
средний возраст     7106
пожилой возраст     2490
долгожители            1
Name: age_category, dtype: int64

Несмотря на медианное значение 48 лет, бездетные заёмщики так же часто являются и молодыми:

In [31]:
data.groupby('children')['age_category'].value_counts(normalize=True)

children  age_category
0         средний возраст    0.419656
          молодые            0.414307
          пожилой возраст    0.165965
          долгожители        0.000071
1         молодые            0.763564
          средний возраст    0.203881
          пожилой возраст    0.032554
2         молодые            0.894556
          средний возраст    0.102501
          пожилой возраст    0.002943
3         молодые            0.905488
          средний возраст    0.091463
          пожилой возраст    0.003049
4         молодые            0.878049
          средний возраст    0.121951
5         молодые            0.888889
          средний возраст    0.111111
Name: age_category, dtype: float64

Продолжим исследование заёмщиков -- теперь обратимся к категориальным показателям **education**, **total_income_category** и **purpose_category**. Подсчитываем количество заёмщиков с разным количеством детей с разными значениями исследуемых показателей. Приводим абсолютные значения:

In [32]:
data.groupby('children')['education'].value_counts()

children  education
0         среднее                10107
          высшее                  3236
          неоконченное высшее      485
          начальное                189
          ученая степень             4
1         среднее                 3243
          высшее                  1315
          неоконченное высшее      173
          начальное                 60
          ученая степень             1
2         среднее                 1393
          высшее                   549
          неоконченное высшее       72
          начальное                 25
3         среднее                  229
          высшее                    83
          неоконченное высшее        8
          начальное                  7
          ученая степень             1
4         среднее                   32
          высшее                     9
5         среднее                    8
          начальное                  1
Name: education, dtype: int64

In [33]:
data.groupby('children')['total_income_category'].value_counts()

children  total_income_category
0         C                        10524
          B                         3227
          D                          241
          E                           17
          A                           12
1         C                         3549
          B                         1164
          D                           66
          A                            9
          E                            4
2         C                         1504
          B                          497
          D                           34
          A                            3
          E                            1
3         C                          234
          B                           88
          D                            5
          A                            1
4         C                           34
          B                            7
5         B                            4
          C                            4
          D                            1
Name: total_income_category, dtype: int64

In [34]:
data.groupby('children')['purpose_category'].value_counts()

children  purpose_category
0         операции с недвижимостью    7043
          операции с автомобилем      2832
          получение образования       2627
          проведение свадьбы          1519
1         операции с недвижимостью    2442
          операции с автомобилем       956
          получение образования        865
          проведение свадьбы           529
2         операции с недвижимостью    1025
          получение образования        401
          операции с автомобилем       398
          проведение свадьбы           215
3         операции с недвижимостью     167
          получение образования         69
          операции с автомобилем        60
          проведение свадьбы            32
4         операции с недвижимостью      21
          операции с автомобилем        10
          получение образования          7
          проведение свадьбы             3
5         операции с недвижимостью       5
          операции с автомобилем         2
          получение образования          1
          проведение свадьбы             1
Name: purpose_category, dtype: int64

Наблюдаем значительные совпадения и в этой части: будь у заёмщика 1 или, допустим, 3 ребёнка, иные его свойства идентичны. Относительно невысокий доход (категория С), среднее образование и желание совершить операции с недвижимостью -- вот наиболее популярное описание заёмщика.

Наконец, рассмотрим непосредственно историю взаимоотношений заёмщиков с кредитами -- данные графы **debt**:

In [35]:
data.groupby('children')['debt'].value_counts(normalize=True)

children  debt
0         0       0.924542
          1       0.075458
1         0       0.907972
          1       0.092028
2         0       0.904855
          1       0.095145
3         0       0.917683
          1       0.082317
4         0       0.902439
          1       0.097561
5         0       1.000000
Name: debt, dtype: float64

Картина также весьма показательна: сколько бы ни было детей у заёмщика, он в прошлом не имел проблем с возвратом кредита в примерно 90 % случаев. Данными о заёмщиках с 5 детьми можно пренебречь: из доля в общем числе заёмщиков мала.

Выше мы показали, что среди бездетных заёмщиков около 40 % - заёмщики среднего возраста.
Банку стоит определить, являются ли для него приемлемыми риски невозврата долгосрочных кредитов для таких заёмщиков. Такие риски могут возникать из-за выхода заёмщика на пенсию или его смерти.

Более подробное исследование в отношении заёмщиков среднего возраста выходит за рамки поставленного вопроса.
Гипотеза о связи бездетности, возраста и кредитоспособности могла бы выглядеть как: заёмщик бездетный, следовательно, он среднего возраста, что означает "плохую" кредитную историю.

In [36]:
data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
        .sort_values(by = ('mean', 'debt'), ascending = False)\
        .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:**

зависимость между количеством детей и возвратом кредита в срок имеется: так, усреднённое значение "плохих" кредитных историй для заёмщиков с 4 детьми почти на 30 % выше, чем у бездетных заёмщиков;

однако отличия между заёмщиками с разным значением показателя не всегда так велики - с выводами о кредитоспособности заёмщика нужно быть осторожным.

<div class="alert alert-block alert-danger">✍
    

__Комментарий от ревьюера №1__

В банковской сфере, каждая доля процента - это очень большая цифра в итоге получается (между 8 и 9% - огромная разница). 
    
Смотри  как эту таблицу можно вывести передав список агрегирующих функций:
    
    
    data.pivot_table(index = 'children', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
        .sort_values(by = ('mean', 'debt'), ascending = False)\
        .style.format({('mean', 'debt') : '{:.2%}'})
</div>

---

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

Для ответа на поставленный вопрос проведём манипуляции, аналогичные ранее сделанным. Результаты приведены в сокращённом виде.

In [37]:
data['family_status_id'].value_counts()

0    12213
1     4112
4     2780
3     1179
2      946
Name: family_status_id, dtype: int64

In [38]:
f_d = data.groupby('family_status_id')['days_employed'].median()
f_dob = data.groupby('family_status_id')['dob_years'].median()
f_tot = data.groupby('family_status_id')['total_income'].median()
family = pd.DataFrame({ 'days_employed': f_d, 'dob_years': f_dob, 'total_income': f_tot })
family

                  days_employed  dob_years  total_income
family_status_id
0                   2124.946354         43        142915
1                   1770.084729         41        142594
2                 337674.099622         58        127312
3                   2178.461446         46        143786
4                   1572.328285         36        142594

In [39]:
data.groupby('family_status_id')['debt'].value_counts(normalize=True)

family_status_id  debt
0                 0       0.924425
                  1       0.075575
1                 0       0.906858
                  1       0.093142
2                 0       0.934461
                  1       0.065539
3                 0       0.928753
                  1       0.071247
4                 0       0.902158
                  1       0.097842
Name: debt, dtype: float64

In [40]:
data.pivot_table(index = 'family_status_id', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
        .sort_values(by = ('mean', 'debt'), ascending = False)\
        .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:**

зависимость между семейным положением и возвратом кредита в срок имеется: так, усреднённое значение "плохих" кредитных историй для неженатых/незамужних заёмщиков почти на 50 % выше, чем у вдовствующих заёмщиков;

однако отличия между заёмщиками с разным значением показателя не всегда так велики - с выводами о кредитоспособности заёмщика нужно быть осторожным.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

Для ответа на поставленный вопрос проведём манипуляции, аналогичные ранее сделанным. Результаты приведены в сокращённом виде.

In [41]:
data['total_income_category'].value_counts()

C    15849
B     4987
D      347
A       25
E       22
Name: total_income_category, dtype: int64

In [42]:
inc_d = data.groupby('total_income_category')['days_employed'].median()
inc_dob = data.groupby('total_income_category')['dob_years'].median()
inc_ch = data.groupby('total_income_category')['children'].median()
income = pd.DataFrame({ 'days_employed': inc_d, 'dob_years': inc_dob, 'children': inc_ch })
income

                       days_employed  dob_years  children
total_income_category
A                        2577.664662         43         1
B                        2084.838901         42         0
C                        1929.807136         43         0
D                        6700.810373         51         0
E                      347804.940429         56         0

In [43]:
data.groupby('total_income_category')['debt'].value_counts(normalize=True)

total_income_category  debt
A                      0       0.920000
                       1       0.080000
B                      0       0.929216
                       1       0.070784
C                      0       0.915074
                       1       0.084926
D                      0       0.939481
                       1       0.060519
E                      0       0.909091
                       1       0.090909
Name: debt, dtype: float64

In [44]:
data.pivot_table(index = 'total_income_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
        .sort_values(by = ('mean', 'debt'), ascending = False)\
        .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:**

зависимость между уровнем дохода и возвратом кредита в срок имеется: так, усреднённое значение "плохих" кредитных историй для наименее обеспеченных заёмщиков более чем на 50 % выше, чем у заёмщиков категории D;

однако отличия между заёмщиками с разным значением показателя не всегда так велики - с выводами о кредитоспособности заёмщика нужно быть осторожным.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

Для ответа на поставленный вопрос проведём манипуляции, аналогичные ранее сделанным. Результаты приведены в сокращённом виде.

In [45]:
data['purpose_category'].value_counts()

операции с недвижимостью    10703
операции с автомобилем       4258
получение образования        3970
проведение свадьбы           2299
Name: purpose_category, dtype: int64

In [46]:
purp_d = data.groupby('purpose_category')['days_employed'].median()
purp_dob = data.groupby('purpose_category')['dob_years'].median()
purp_ch = data.groupby('purpose_category')['children'].median()
purp_inc = data.groupby('purpose_category')['total_income'].median()
purpose = pd.DataFrame({ 'days_employed': purp_d, 'dob_years': purp_dob, 'children': purp_ch, 'total_income': purp_inc })
purpose

                          days_employed  dob_years  children  total_income
purpose_category
операции с автомобилем      2039.004530         43         0        142594
операции с недвижимостью    1988.499096         42         0        142910
получение образования       2005.454653         43         0        142594
проведение свадьбы          1943.645755         42         0        142594

In [47]:
data.groupby('purpose_category')['debt'].value_counts(normalize=True)

purpose_category          debt
операции с автомобилем    0       0.906764
                          1       0.093236
операции с недвижимостью  0       0.927404
                          1       0.072596
получение образования     0       0.907053
                          1       0.092947
проведение свадьбы        0       0.921270
                          1       0.078730
Name: debt, dtype: float64

In [48]:
data.pivot_table(index = 'purpose_category', values = 'debt', aggfunc = ['count', 'sum', 'mean'])\
        .sort_values(by = ('mean', 'debt'), ascending = False)\
        .style.format({('mean', 'debt') : '{:.2%}'})

**Вывод:**

зависимость между целевым назначением кредита и возвратом кредита в срок имеется: так, усреднённое значение "плохих" кредитных историй для операций с автомобилем более чем на 28 % выше, чем для операций с недвижимостью;

однако отличия между заёмщиками с разным значением показателя не всегда так велики - с выводами о кредитоспособности заёмщика нужно быть осторожным.

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

Возможные причины появления пропусков в исходных данных:
- пропуски в столбцах **days_employed** и **total_income** - полностью случайные - возможно, информация не была заполнена заёмщиком при  оформлении заявки на кредит;
- отрицательное количество дней трудового стажа в столбце **days_employed** - полностью случайные - механическая ошибка при заполнении заявки на кредит;
- аномальные значения в столбце **children** - полностью случайные - механическая ошибка при заполнении заявки на кредит;
- вещественный тип данных в столбце **total_income** - полностью случайные - ошибки работы базы данных банка;
- неявные дубликаты в столбце **education** - полностью случайные - вероятно, при обработке заявок отсутствует контроль входящих данных; также возможно, что форма он-лайн заявок не содержит подсказок для заёмщика вида *"заполните поле ___ только строчными буквами"*;
- в графе **dob_years** значения менее 18 - полностью случайные - механическая ошибка при заполнении заявки на кредит;
- артефакты в графе **gender*** - полностью случайные - ошибка базы данных.

В целом банку необходимо жёстче контролировать входные данные: предусмотреть ошибкоустойчивые формы заявок на кредит, подсказки при заполнении форм. Также стоит иным образом организовать работу с БД.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

Медианное значение в меньшей степени зависит от наличия в выборке экстремально высоких или экстремально низких значений. Вопреки названию "среднее" значение может быть смещено от середины выборки, чего не происходит с медианным значением.
Также медианное значение интуитивно понятно исследователю: оно соответствует условной середине выборки.

### Шаг 4: общий вывод.

В ходе исследования

- заёмщики были агрегированы по нескольким показателям,
- были изучены сходные и отличные черты заёмщиков в зависимости от величины исследуемого показателя,
- были построены сводные таблицы, наглядно показавшие влияение показателей на кредитоспособность.

Оценка перспективы возврата кредита в срок может быть осуществлена на основании одного из перечисленных в исследовании показателей заёмщика. Однако такая оценка должна проводиться с осторожностью: отличия между разными категориями заёмщиков не всегда велики.